/* GENERAL CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Raleway', 'Roboto', sans-serif;
}

body {
    background: #E3E6DE;
    overflow-x: hidden;
}

h1 {
    font-size: 1.3rem;
    font-weight: 700;
    text-align: left;
    color: #4e5a4e;
    margin: 8em 0em 1em 0em;
}

h3 {
    margin: 1em auto;
    font-size: 2rem;
    color: #678785;
    font-weight: 900;
}

p {
    text-align: justify;
    font-family: 'Roboto';
}

.contato {
    text-decoration: none;
    background-color: #00bb2d;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 15px;
    margin: 1em auto;
}

.contato:hover {
    background-color: #00bb2ca1;
    color: #fff;
    transition: ease-in-out 0.3s;
}


/* HEADER CSS */

header .navbar {
    background-color: #b4c8c4;
    box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
    padding: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.navbar .navbar-collapse {
    justify-content: end;
}

.navbar .navbar-brand img {
    height: 4em;
    width: auto;
}

.navbar-collapse .navbar-nav {
    align-items: center;
}

.navbar-nav .nav-item .nav-link {
    color: #000;
}

.navbar .nav-item .nav-link-underline::before {
    content: '';
    position: relative;
    display: block;
    width: 0;
    height: 3px;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #E3E6DE;
    transition: all 0.3s ease-in-out 0s;

}

.navbar .nav-item .nav-link-underline:hover::before {
    visibility: visible;
    width: 100%;
}

.navbar-nav .nav-item .icon {
    font-size: 1.5rem;
    background-color: #E3E6DE;
    border-radius: 50%;
    color: #4e5a4e;
    margin: 0 0.5em;
    padding: 0.2em 0.5em;
}

.navbar-nav .nav-item .icon:hover {
    background-color: #678785;
    color: #E3E6DE;
    transition: ease-in-out 0.3s;
}


/* SECTION CSS */

.main-section .title h2 {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: left;
    color: #4e5a4e;
}

.main-section .Stella-photo {
    position: relative;
}

.main-section .Stella-photo .Stella {
    position: absolute;
    right: 5em;
    bottom: 0;
    height: 100%;
    width: auto;
}

.teraphy-section, .help-section{
    background-color: #d2d8d2;
}

.faq-section {
    margin: 5em auto;
}

.faq-section .faq-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section .about {
    justify-content: space-between;
}

.about-section .stella-img {
    position: relative;
    width: 30%;
    padding: 10px;
    background: #4e5a4e;
}

.about-section .Stella-Perfil {
    max-width: 100%;
    object-fit: cover;
}

.beneficios-section h4 {
    margin: 1.5em auto;
    font-size: 1.2rem;
    font-weight: 700;
    color: #4e5a4e;
}

.beneficios-section .fa-stack {
    color: #00bb2d;
}

#service_p {
    text-align: center;
    color: #000;
    font-size: 1rem;
}


/* ACCORDION CSS */
.faq-accordion .accordion .accordion-item .accordion-button {
    background-color: #4e5a4e;
    color: #fff;
    font-weight: 700;
}

.faq-accordion .accordion .accordion-item .accordion-body {
    font-weight: 600;
}

/* FOOTER */

footer .footer {
    background-color: #4e5a4e;
    color: #E3E6DE;
    font-size: 1.3rem;
    font-weight: 700;
}

.footer p {
    text-align: center;
}

footer .footer .icon {
    font-size: 1.5rem;
    background-color: #E3E6DE;
    border-radius: 50%;
    color: #4e5a4e;
    margin: 0 0.5em;
    padding: 0.2em 0.5em;
}


footer .footer .icon:hover {
     background-color: #678785;
    color: #E3E6DE;
    transition: ease-in-out 0.3s;
}


/* RESPONSIVE CSS */


@media screen and (min-width: 320px) and (max-width: 576px) {

    .navbar-collapse .navbar-nav {
        align-items: flex-start;
    }

    .navbar-nav .nav-item .icon {
        margin: 0.2em auto;
    }

    h1 {
        font-size: 1rem;
        margin: 8em 0em 1em 0em;
    }

    h2 {
        font-size: 1rem;
    }

    h3 {
        font-size: 1rem;
    }

    p {
        font-size: 1rem;
    }

    .main-section .title h2 {
        font-size: 1rem;
    }

    .contato {
        font-size: 0.9rem;
    }

    .main-section .Stella-photo .Stella {
        right: 0;
        bottom: 0;
        height: 60%;
        width: auto;
    }

    .teraphy-section .teraphy {
        justify-content: center;
    }

    .help-section .help {
        justify-content: center;
    }

    .about-section .about {
        flex-direction: column-reverse;
        align-items: center;
    }

    .about-section .stella-img {
        width: 50%;
    }

}

@media screen and (min-width: 577px) and (max-width: 768px) {
    .navbar-collapse .navbar-nav {
        align-items: flex-start;
    }

    .navbar-nav .nav-item .icon {
        margin: 0.2em auto;
    }

    .main-section .Stella-photo .Stella {
        right: 0;
        bottom: 0;
    }

    .about-section .stella-img {
        width: 50%;
    }

    .about-section .Stella-Perfil {
        height: 100%;
    }


}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .navbar-collapse .navbar-nav {
        align-items: flex-start;
    }

    .navbar-nav .nav-item .icon {
        margin: 0.2em auto;
    }

    .main-section .Stella-photo .Stella {
        right: 0;
        bottom: 0;
    }

    .about-section .stella-img {
        width: 45%;
    }

    .about-section .Stella-Perfil {
        height: 100%;
    }
}