* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Raleway', 'Roboto', sans-serif;
}

body {
    background: #E3E6DE;
}

header .navbar {
    background-color: #b4c8c4;
    box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
    padding: 1.5em;
}

.navbar .navbar-collapse {
    justify-content: space-between;
}

.navbar-collapse .navbar-nav .nav-link,
.navbar-brand {
    color: #678785;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
}

.navbar-nav .nav-item .icon{
    background-color: #678785;
    border-radius: 5px;
    color: #b4c8c4;
    margin: 0 0.5em;
    padding: 0.2em 1em;
}
.navbar-nav .nav-item .icon:hover{
    background-color: #E3E6DE;
    color: #678785;
    transition: ease-in-out 0.3s;
}
.navbar-nav .nav-item .icon i{
    font-size: 1.2rem;
}

section .main-section {
    display: flex;
}

.main-section .title h1{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
    color: #678785;
    margin: 1em auto;
}
.main-section .subtitle h2{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
    color: #b4c8c4;
}

.main-section .subtitle a{
    background-color: #00bb2d;
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 15px;
    margin: 1em auto;
}