* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Raleway', 'Roboto', sans-serif;
}

body {
    background: #E3E6DE;
}

header .navbar {
    background-color: #678785;
}

.navbar .navbar-collapse {
    justify-content: space-between;
}

.navbar-collapse .navbar-nav .nav-link,
.navbar-brand {
    color: #E3E6DE
}

.navbar-nav .nav-item .icon{
    background-color: #b4c8c4;
    padding: 0em 0.5em;
    border-radius: 5px;
    color: #E3E6DE;
}